*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: 599px) {
  html,
  body {
    margin: 0;
    height: 100%;
    background-color: #080808;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(172,683,317)'%3E%3Cstop offset='0' stop-color='%23080808'/%3E%3Cstop offset='1' stop-color='%23560105'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='333' height='277.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  /* Welcome text */
  .typingEffect {
    color: white;
    width: 100%;
    animation: typing__a 3s steps(20),
      typing__b 0.1s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #ffff;
    text-transform: uppercase;
    font-size: 20px;
  }
  #home {
    margin-top: 2rem;
  }
  .titleH {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 3;
    text-transform: uppercase;
  }
  .typingEffectN {
    color: white;
    width: 100%;
    text-align: center;
    animation: typing__a 3s steps(20),
      typing__b 0.1s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #ffff;
    font-weight: 400;
    font-size: 30px;
    line-height: 3;
    text-transform: uppercase;
  }
  @keyframes typing__a {
    from {
      width: 0;
    }
  }
  @keyframes typing__b {
    50% {
      border-color: transparent;
    }
  }
  /* Menu */
  .toggle img {
    width: 35px;
    cursor: pointer;
  }
  .menu li img {
    width: 45px;
  }

  .menu {
    position: relative;
    width: 240px;
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: -20rem;
  }
  .menu li {
    position: absolute;
    left: -4px;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 140px;
    transform: rotate(0deg) translateX(110px);
  }
  /* Efectoo de animacion */
  .menu.active li {
    transform: rotate(calc(360deg / 8 * var(--i))) translateX(0px);
  }
  .menu li button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: var(--clr);
    border: 2px solid var(--clr);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc(360deg / var(--i)));
    transition: 1s;
  }
  .menu li button:hover {
    transition: 0;
    background: var(--clr);
    color: rgb(150, 160, 128);
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);
  }
  .toggle:hover {
    filter: grayscale(100%);
    box-shadow: 0 0 10px #fff;
  }
  li img:hover {
    width: 250%;
  }
  /* Resto */
  .menu .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 10000;
    font-size: 2rem;
    transition: trasform 2.25s;
    background-color: antiquewhite;
  }
  #imgP {
    rotate: 15deg;
  }
  #imgPr {
    rotate: 105deg;
  }
  #imgC {
    rotate: 90deg;
  }
  #navMenu {
    margin-left: -10%;
  }

  /* Clock */
  html body #clockdate {
    margin-top: -7%;
  }
  html body #clockdate .clockdate-wrapper {
    background-color: #333;
    padding: 25px;
    max-width: 350px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15%;
  }
  html body #clockdate #clock {
    background-color: #333;
    font-family: sans-serif;
    font-size: 4rem;
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
  }
  html body #clockdate #date {
    letter-spacing: 0.5rem;
    font-size: 1rem;
    font-family: arial, sans-serif;
    color: #fff;
  }

  html body #clockdate {
    margin-top: -70%;
  }
  html body #clockdate .clockdate-wrapper {
    background-color: #333;
    padding: 25px;
    max-width: 350px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15%;
  }
  html body #clockdate #clock {
    background-color: #333;
    font-family: sans-serif;
    font-size: 4rem;
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
  }
  html body #clockdate #date {
    letter-spacing: 0.5rem;
    font-size: 1rem;
    font-family: arial, sans-serif;
    color: #fff;
  }
  #abaut h1,
  h2,
  h3,
  p {
    text-align: center;
  }
  #abaut {
    color: #fff;
    width: 80%;
  }
  #abaut svg {
    width: 20px;
    align-self: center;
  }
  .abautSkils {
    background-color: rgba(255, 255, 255, 0.3);
    color: #080808;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .abautSkils div {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  #info {
    display: grid;
  }
  .infoImg {
    display: grid;
    justify-content: center;
    margin: 0 auto 2rem auto;
  }
  .infoImg img {
    height: 227px;
    width: 210px;
    border-radius: 50%;
  }
  .infoText {
    color: #fff;
    text-align: center;
    justify-self: center;
    width: 80%;
  }
  .infoText h2 {
    margin: 1rem;
  }
  .infoText span {
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid;
    padding: 2px;
    margin: 5px;
  }
  #contact {
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
  }
  #contact h2 {
    font-size: 3rem;
    text-decoration: underline;
  }
  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
  }
  #contact a {
    text-decoration: none;
    color: #080808;
  }
  #contact section {
    width: 50%;
  }
  #proyects {
    width: 90%;
    max-width: 120em;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffff;
    overflow-x: hidden;
  }

  .carrusel {
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5 ease;
    transform: translateX(0%);
  }
  .imagen {
    width: calc(100% / 4);
    display: flex;
    justify-content: center;
  }
  .imagen img {
    max-width: 300px;
    height: 50vh;
  }
  .proyect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
  .textProyect {
    max-width: 300px;
  }
  .puntos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    font-size: 3rem;
    color: black;
    position: absolute;
    top: 72%;
    right: 0;
  }
  .punto {
    background-color: aliceblue;
    padding: 0 2px 8px 2px;
    font-size: 3rem;
  }
}
@media (min-width: 600px) {
  /* Menu */
  #navMenu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 42px;
    background-color: #c0c0c0;
    display: flex;
    flex-direction: initial;
    align-content: center;
    z-index: 50;
  }
  .menu {
    list-style: none;
  }
  .toggle img {
    justify-content: center;
    width: 35px;
    cursor: pointer;
  }
  .menu li img {
    width: 45px;
    margin: 0 25px;
  }
  #imgP,
  #imgPr,
  #imgC {
    rotate: none;
  }
  .menu li {
    display: none;
  }
  .menu .toggle {
    position: absolute;
    bottom: 6px;
    left: 5px;
    background-color: #c0c0c0;
    width: 94px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .menu.active li {
    display: flex;
    flex-direction: row-reverse;
    background-color: #c0c0c0;
    position: relative;
    left: -29px;
    bottom: -49px;
    margin-top: -100px;
  }
  .menu li button {
    width: 188px;
    background-color: #c0c0c0;
    align-content: flex-start;
  }
  .menu li button:hover {
    transition: 0;
    background: #c1c1c1;
    box-shadow: 10px 0 10px #00807f;
  }
  .toggle:hover {
    filter: grayscale(100%);
    box-shadow: 0 0 10px #00807f;
  }
  .clockdate-wrapper {
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: 50;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 0.75rem;
  }
  #abaut {
    width: 600px;
    height: 610px;
    position: absolute;
    top: 2%;
    right: 5%;
    overflow: hidden;
    background: url("/assets/word.gif");
    background-size: cover;
    z-index: 10;
  }
  .abautMe > h2 {
    background-color: #fff;
    width: 80%;
  }
  .abautMe > p {
    width: 95%;
  }
  .abautMe {
    position: relative;
    top: 157px;
    left: 10px;
  }
  .abautSkils {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    justify-content: center;
    max-height: fit-content;
    width: 95%;
  }
  .abautSkils svg {
    max-width: 20px;
  }
  #info {
    width: 364px;
    height: 628px;
    position: absolute;
    top: 2%;
    left: 2%;
    overflow: hidden;
    background: url("/assets/paint.png");
    background-size: cover;
    z-index: 0;
  }
  .infoImg {
    background: #fff;
    width: 285px;
    position: relative;
    left: 79px;
    top: 53px;
    text-align: center;
  }

  .infoText {
    background: #fff;
    width: 285px;
    position: relative;
    left: 79px;
    top: 53px;
    text-align: center;
    height: 337px;
  }
  .imgPort {
    width: 112px;
  }
  #contact {
    text-align: center;
    background: #c0c0c0;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 500px;
    z-index: 40;
  }
  #contact > h2 {
    background-color: #0000a8;
    color: white;
    text-align: initial;
    padding: 3px 20px;
  }
  .contactContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
  }
  .contactContainer section a {
    color: #080808;
    text-decoration: none;
  }
  .contactContainer section a svg {
    width: 50px;
  }
  #proyects {
    width: 600px;
    height: 610px;
    position: absolute;
    top: 2%;
    right: 0;
    overflow: hidden;
    background: url("/assets/folder.png");
    background-size: cover;
    z-index: 10;
  }
  #proyects h2 {
    position: relative;
    top: 139px;
    left: 120px;
    font-size: 1.5rem;
    background-color: #fff;
    height: 26px;
    margin-bottom: 18px;
  }
  .puntos {
    display: none;
  }
  .carrusel {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 1fr);
    width: 350px;
    height: 390px;
    position: relative;
    right: -237px;
    top: 137px;
    background: #fff;
    gap: 7px;
  }
  .textProyect h3 {
    text-align: center;
    font-size: 1rem;
  }
  .textProyect p {
    display: none;
  }
  .btnProyect {
    display: none;
  }
  .card-img-top:hover{
  transform: rotate(1turn); 
  transition: .2s;
  }
}
